{% extends "base.html" %}

{% set page_title = "Fantoir erroné" %}

{% block body %}
<div id="bandeau">
<h1></h1>
<h4>Liste des codes Fantoir trouvés dans OSM et inconnus du fichier Fantoir officiel. Ce sont souvent des codes erronés, à cause d'erreurs de frappe : minuscules, inversions de caratères, etc.</h4>
<div id="pied_de_page"></div>
</div>
<table id="rubriques">
    <tr><td class="rubrique" id="rub_adresses_non_match" cible="table_fantoir_errone"></td>
    </tr>
</table>
</div>

<div id="reponse">
<table id="table_fantoir_errone" class="table_liste_"></table>
<div id="pied_de_page"></div>
</div>
<div id="credits">
Données OpenStreetMap : © les Contributeurs d'OpenStreetMap  <a href="http://opendatacommons.org/licenses/odbl/">Licence ODbL</a>
</div>
{% endblock %}

{% block js_btm %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/fantoir_errone.js') }}"></script>
{% endblock %}
