{% extends "base.html" %}

{% set page_title = "Listes FANTOIR par commune" %}

{% block body %}
<div id="bandeau">
<form action="javascript:listing_fantoir()" autocomplete="on">
<input type="text" id="input_insee" placeholder="Code INSEE"></input>
<input type="submit" value="Lister">
</form>
<div id='bandeau_commune'>
<table id="table_infos_commune"></table>
</div></div>

<div id="reponse">
<table id="listing_fantoir" class="tablesorter">
</table>
<div id="pied_de_page"></div>
</div>
<div id="credits">
Données FANTOIR : © 2015 Ministère de l'Économie et des Finances (DGFiP) - <a href="http://wiki.data.gouv.fr/wiki/Licence_Ouverte_/_Open_Licence">Licence LO/OL</a>
</div>
{% endblock %}

{% block js_btm %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/liste_brute_fantoir.js') }}"></script>
{% endblock %}
